* {
  box-sizing: border-box;
}
body {
  background-color: rgb(229, 233, 244);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: rgb(229, 233, 244);
  padding: 40px;
}

.Container {
  align-items: center;
  background-color: rgb(62, 126, 184);
  border-radius: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 896px;
  width: 414px;
  margin: 0 auto;
  position: relative;
}

.Row {
  width: 414px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin-bottom: 19px;
}

.Column {
  float: left;
  padding: 10px;
}

.Left {
  width: 85%;
}

.Left h2 {
  margin-bottom: 11px;
  margin-top: 21px;
}

.Left p {
  margin-top: 7px;
  font-size: 11px;
  color: rgb(182, 182, 182);
}

.Right {
  width: 15%;
  background: #3f8dc5;
  border-radius: 16px;
  margin-top: 35px;
}

.Row:after {
  content: '';
  display: table;
  clear: both;
}

.SearchBar {
  position: relative;
  padding-top: 8px;
}

.SearchBar input {
  background-color: #3f8dc5;
  width: 310px;
  height: 46px;
  border-radius: 15px;
  border: none;
  padding: 23px;
  font-size: 18px;
  padding-left: 40px;
}

.SearchBar svg {
  position: absolute;
  left: 11px;
  top: 19px;
}

.SearchBar ::-moz-placeholder {
  color: white;
  opacity: 1;
}

.SearchBar input::placeholder {
  color: white;
}

.SeeMore {
  background: none !important;
  margin-top: 14px !important;
}

.Feel {
  margin-right: 33px !important;
  margin-bottom: 0 !important;
  padding-top: 40px;
}

.Feel h3 {
  margin-bottom: 0 !important;
  font-size: 15px;
}

.FeelingTable {
  width: 437px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 35px;
}

.FeelingTable th {
  font-size: 30px;
  background-color: #3f8dc5;
  padding: 10px;
  border-radius: 16px;
}

.FeelingTable td {
  text-align: center;
  width: 25%;
  font-size: 12px;
}

.Minimise {
  height: 8px;
  margin-top: 15px;
  margin-left: 45%;
  margin-right: 45%;
  background: #c8dbf7;
  border-radius: 30px;
}

.Modal {
  background-color: white;
  width: 414px;
  height: 350px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  color: black;
  overflow-y: auto;
}

.ModalCard {
  width: 414px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin-bottom: 19px;
}

.CardColumn {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 86px;
}

.CardColumn h3 {
  font-size: 11px;
  margin-top: 16px;
  text-align: left;
}

.CardColumn p {
  font-size: 11px;
  color: rgb(145 145 145);
  margin-top: -4px;
  font-weight: bold;
  text-align: left;
}

.CardColumn svg {
  padding: 4px;
  margin: 10px;
  height: 40px;
  margin-left: 23px;
  width: 40px;
  border-radius: 10px;
}

.CardRow {
  border: 1px solid #e6e3e3;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  border-radius: 20px;
  width: 81%;
}

.CardRow:focus {
  border: none;
  box-shadow: 8px 14px 47px 3px rgba(130, 130, 130, 0.6);
}

.CardRow:after {
  content: '';
  display: table;
  clear: both;
}

.Minimise svg {
  color: #d1dfff;
  padding-left: 10px;
  margin-left: 45%;
  width: 34px;
  height: 36px;
}

.ModalTitle {
  display: flex;
  justify-content: space-around;
}

.ModalTitle h3 {
  font-size: 13px;
}

.ModalTitle svg {
  font-size: 30px;
  margin-top: 16px;
}

.ModalCard {
  border: 1px solid black;
}

.NavBar {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 31px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 414px;
}

.NavBar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.NavBar ul li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  list-style: none;
}

.NavBar ul li svg {
  font-size: 40px;
  color: rgb(62, 126, 184);
}

.SelectedTab {
  position: absolute;
  bottom: 0px;
  left: 69px;
  height: 20px;
  width: 10px;
  background: rgb(62, 126, 184);
  position: absolute;
  bottom: 0px;
  left: 69px;
  height: 20px;
  width: 10px;
  background: rgb(62, 126, 184);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.Emojis {
  display: flex;
}
